// -------------------------------------
// Core
// -------------------------------------

// ----- Normalize ----- //
@import '../assets/core/normalize';

// ----- Variables ----- //
@import '../assets/core/variables';

// ----- Helpers ----- //
@import '../assets/core/helpers';

// ----- Helpers ----- //
@import '../assets/core/utilities';

// ----- Base ----- //
@import '../assets/core/base';


// -------------------------------------
// Modules
// -------------------------------------

// ----- Base ----- //
@import '../assets/modules/media';

// ----- Base ----- //
@import '../assets/modules/tooltip';


body {
	background-color: #e1e1e1;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.media {
	@extend %media;
	width: 60%;

	.media-img { @extend %media-img; }
	.media-img--rev { @extend %media-img--rev; }
	.media-body { @extend %media-body; }
	.media-body h4 { margin-bottom: 5px; }
}